<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Set the ROOM_ID variable to the roomId that is passed in by server.js -->
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
    <!-- CDN in the peerJS and socket.io libraries -->
    <script defer src="peerjs.js"></script>
    <script src = "/socket.io/socket.io.js" defer></script>
    <!-- Load in script.js, our client-side script -->
    <script src = "script.js" defer></script>
    <title>Video App</title>
    <!-- Make a grid of 300x300 videos  -->
    <style>
        #video-grid {
            display: flex;
            flex-direction: column;
        }
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-width: 600px;
            margin: auto;
        }
    </style>
</head>
<body>
    <!-- Make our video grid -->
    <div id="video-grid"></div>
</body>
</html>